.menuAndContent{
    max-width: 100%;
    display: flex;
    
    .contentStaffs{
        width: 100%;
        padding: 10px;
    }
    .staffs{
        margin: 0 auto;
        display: flex;
        align-items: center;
        align-content: center; 
        flex-wrap: wrap;
    }
    .staff{
        width: 350px;
        height: 250px;
        margin: 10px;
        padding: 1%;
        border: none;
        outline: none;
        border: 0px;
        cursor: pointer;
        color: #FD7F71;
        transition: .3s ease-out;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0 1px 1px rgba(187, 216, 216, 0.6), 
            0 3px 3px rgba(187, 216, 216, 0.4), 
            0 8px 16px rgba(187, 216, 216, 0.3);

        .titlleAndPrice{
            display: flex;
            justify-content: space-around;
            padding-top: 10px;

        }    
    }
    .imgStaff{
        width: 100%;
        height: 80%;
        padding: 5px ;
        border-radius: 15px;
       
    }
    .staffinfo{
        width: 100%;
        height: 100%;
        margin: 10px;
        padding: 1%;
        border: none;
        outline: none;
        border: 0px;
        cursor: pointer;
        color: #FD7F71;
        transition: .3s ease-out;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0 1px 1px rgba(187, 216, 216, 0.6), 
            0 3px 3px rgba(187, 216, 216, 0.4), 
            0 8px 16px rgba(187, 216, 216, 0.3);

        .titlleAndPrice{
            display: flex;
            justify-content: space-around;
            padding-top: 10px;

        }

        .fullImgStaff{
            width: 480px;
            height: 320px;
            border: none;
            outline: none;
            border: 1px;
            border-radius: 10px;    
            animation-timing-function: linear;
        }
    }

    .loader{
        position: fixed;
        bottom: 0;
        left: 50%;
        right: 0;
        top: 50%;
        height: 100%;
        width: 100%;
        z-index: 9999;  
    }

}
.topbutton{
    position:fixed;
    bottom:50px;
    right:50px;  
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    display: block;
    width: 50px;
    height: 50px;
    line-height:50px;
    text-align:center;
    color: #fff;
    border: none;
    box-shadow: 0 0 0 0 #f0f0f0, 0 0 0 0 #FD7F71;
    border-radius: 25px;
    background: #FD7F71;
    cursor: pointer;
    transform: translate3d(0, 0, 0);
    animation: pulse 1.25s infinite cubic-bezier(0.66, 0.33, 0, 1);
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover > i {
        color:#fff;
        text-shadow: 3px 3px 3px rgba(0,0,0,.35);
      }
      &:focus > i {
        color:#fff;
      }
      @keyframes pulse {
        to {
          box-shadow: 0 0 0 12px transparent, 0 0 0 24px rgba(227, 115, 14, 0);
        }
      }
    
}

// .loader{
//     position: fixed;
//     bottom: 0;
//     left: 50%;
//     right: 0;
//     top: 50%;
//     height: 100%;
//     width: 100%;
//     z-index: 9999; 

// }


.carusel{
    border: none;
        outline: none;
        border: 0px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.viwe-carusel{
    height: 100%;
    width: var(--main-width);
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.el-carusel{
    height: 100%;
    border: none;
        outline: none;
        border: 0px;
    border-radius: 10px;
    width: var(--main-width);
    user-select: none;
    animation-timing-function: linear;
}
.el-carusel::befor{
    animation: eye 3s ease-in-out infinite;
}
.scropl-carusel{
    width: 99999px;
    display: flex;
    transition: all 2s ease-in-out;
}
.scropl-carusel-finish{
    width: 99999px;
    display: flex;
    transition: all 0s ease-in-out;
}
.img-carusel{
  width: 100%;
  height: 100%;
}
.but{
  display: flex;
  font-size: 2rem;
  color: #424271;
  background-color: #efeded;
  height: 50px;
  width: 50px;
  /*position: relative;
  top: 125px;*/
  transform: translate(100%);
  font-weight: bold;
  opacity: 0.5;
  user-select: none;
}
.but:hover{
  color: #ccd024;
  cursor: pointer;
  opacity: 1;
}
.back{
  z-index: 1;
  align-items: center;
  justify-content: center;
  /*transform: translateX(100%);*/
}
.next{
  z-index: 1;
  align-items: center;
  justify-content: center;
  transform: rotate(180deg) translate(100%);
}


.ant-carousel{
    width: 480px;
}

.ant-carousel .slick-slide {
    width: 480px;
    text-align: center;
    height: 320px;
    line-height: 160px;
    overflow: hidden;
  }
  
  .ant-carousel .slick-slide h3 {
    color: #fff;
  }
.divCenter{
    width: 55%;
    margin: 0 auto;
}
.flex-around{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.ant-carousel .slick-dots li button {
    border: 0;
    cursor: pointer;
    background: green;
    opacity: 0.5;
    display: block;
    width: 25px;
    height: 7px;
    border-radius: 3px;
    outline: none;
    font-size: 0;
    color: transparent;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    padding: 0;
}
.ant-carousel .slick-dots li.slick-active button {
    background: #FD7F71;
    opacity: 1;
    width: 20px;
}
 
.topPrice{
    position: fixed;
    top: 20%;
    right: 1em;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    display: block;
    width: 80px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    border: none;
    box-shadow: 0 0 0 0 #f0f0f0, 0 0 0 0 #FD7F71;
    border-radius: 25px;
    background: #FD7F71;
    cursor: pointer;
    transform: translate3d(0, 0, 0);
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover > i {
        color:#fff;
        text-shadow: 3px 3px 3px rgba(0,0,0,.35);
      }
      &:focus > i {
        color:#fff;
      }
      
}

.bottomPrice{
    position:fixed;
    top: 30%;
    right: 1em;
    transform: translate3d(0, 0, 0);
    display: block;
    width: 80px;
    height: 50px;
    line-height:50px;
    text-align:center;
    color: #fff;
    border: none;
    box-shadow: 0 0 0 0 #f0f0f0, 0 0 0 0 #FD7F71;
    border-radius: 25px;
    background: #FD7F71;
    cursor: pointer;
    transform: translate3d(0, 0, 0);
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover > i {
        color:#fff;
        text-shadow: 3px 3px 3px rgba(0,0,0,.35);
      }
      &:focus > i {
        color:#fff;
      }
      
}
