// COLORS
$color-black: #000;
$color-white: #fff;
$color-red: #f00;
$color-red-dark: #b40000;
$color-yellow: #f5a623;
$color-green: #0ea500;
$color-blue: #008ff7;
$color-blue-light-dark: #4a90e2;
$color-blue-dark: #29336f;
$color-blue-light: #eaf1f9;
$color-brown: #4c4c4c;
$color-grey: #51606a;
$color-grey-light: #999999;
$color-grey-lighter: #d8d8d8;
$color-grey-the-lightest: #f9fbfd;
$color-grey-transparent: rgba(247, 249, 251, 0.7);

//BASE COLORS
$el-color:#FD7F71;
$color-backgtound: #f8f6f6;

//SearchLine
$color: #FD7F71;
$background: #F7FBFB;
$background-2: #EAF5F5;
$background-3: #BBD8D8;
$primary: #FD7F71;
$white: #fff;
$breakpoint: 768px;